*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.creator-container{
    width: 100%;
    background: linear-gradient(135deg,#cf9aff,#95c0ff);
    color: #FFFF;
    padding-top: 4%;
    padding-left:10% ;
    min-height: 100vh;
}
.creator-container h1{
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
}
.creator-container img{
    width: 60px;
}
.creator-container button {
    display: flex;
    align-items: center;
    background: linear-gradient(#9418fd,#571094);
    color: #fff;
    font-size: 16px;
    outline: 0;
    border: 0;
    border-radius: 10px;
    padding: 15px 25px;
    margin: 30px 0 20px;
    cursor: pointer;

}
.creator-container button img{
    width: 25px;
    margin-right:8px;
}
.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: #fff;
    color: #333;
}
  